# Ignore node_modules
node_modules/

# Ignore environment variable files
.env

# Ignore log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore the dependencies lock files (optional)
package-lock.json
